.list-product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 25px;
}

.list-product-container::after {
    content: "";
    flex: content;
}

#list-product-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.css-88nv5c-MuiInputBase-root-MuiInput-root-MuiSelect-root:after {
    border-bottom: none;
}

.sort-by {
    white-space: normal;
    word-break: break-word;
    text-align: right;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-image-container {
    width: 100%;
    padding-top: 112%;
    background-size: cover;
    margin-bottom: 20px;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.img-slide-item {
    width: 100%;
    padding-top: 112%;
    background-size: cover;
}

.img-slide-item:hover {
    outline: 2px solid #2fb5d2;
}

.product-quantities .label {
    border: 2px solid #47ae74;
    color: #47ae74;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 3px;
    margin-right: 20px;
}

.product-quantities .label.out-stock-label {
    color: var(--primary-main);
    border: 2px solid var(--primary-main);
}

.product-detail-name {
    margin: 20px 0 15px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}

.current-price {
    font-size: 26px;
    color: #000;
    margin: 25px 0;
    letter-spacing: 1px;
}

.input-quantity{
    margin-left: 15px;
    color: #333;
    background-color: #fff;
    height: 50px;
    padding: 5px 15px;
    width: 70px;
    text-align: center;
    border: 1px solid var(--border-color);
}

.input-quantity:active{
    border: 1px solid var(--primary-dark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.product-quantity {
    display: flex;
    width: 100%;
    margin: 30px 0;
    flex-direction: column;
}

.add-to-cart {
    background-color: var(--primary-dark);
    color: var(--secondary-contrastText);
    padding: 0 40px;
    line-height: 48px;
}

.product-action .add-to-cart {
    margin-top: 25px;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    border-radius: 0;
    font-size: 12px;
}

.thumbnail-container:hover .img-fluid-2nd {
    visibility: visible;
    opacity: 1;
}

.img-fluid-2nd {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

@media (min-width: 992px) {
    .thumbnail-container .quick-interaction {
        opacity: 0;
        visibility: hidden;
    }

    .thumbnail-container:hover .quick-interaction {
        opacity: 1;
        visibility: visible;
    }
}

.thumbnail-container .quick-interaction {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: center;
    font-size: 0;
    transition: all .4s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnail-container .quick-interaction button {
    pointer-events: auto;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    border: 0;
    line-height: 40px;
    text-align: center;
    padding: 0;
    background: rgba(255,255,255,.95);
    border-radius: 50%;
    margin: 0 10px 0 0;
    display: block;
    color: #000;
    transition: all .4s;
    position: relative;
}

.thumbnail-container .quick-interaction button:hover {
    background: #999;
    color: #fff;
    transform: translateY(-3px);
}

.MuiBox-root.modal-quickview {
    overflow-y: auto;
}

.MuiBox-root.modal-quickview:focus, .MuiBox-root.modal-quickview:hover {
    outline: none;
}

.none-product-grid-item {
    grid-column: 1 / 4;
}

@media (max-width: 765px) {
    .MuiBox-root.modal-quickview {
        width: 80%;
        height: 80%;
        overflow-y: auto;
    }
}

@media (max-width: 450px) {
    .col-50-percents {
        width: 100%;
        float: left;
    }

    .list-product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        min-height: unset;
    }

    #left-column.sidebar {
        width: 100%;
    }
}

@media (min-width: 450px) {
    .list-product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        min-height: unset;
    }

    .col-50-percents {
        width: 100%;
        float: left;
    }
}

@media (min-width: 765px) {
    .list-product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-gap: 50px;
        min-height: 666px;
    }

    .col-50-percents {
        width: 50%;
        float: left;
    }

    .col-50-percents > .product-information {
        padding-left: 30px;
    }
}

@media (min-width: 1080px) {
    .list-product-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        grid-gap: 50px;
        min-height: 666px;
    }
}